/* Parallax Div Effects */ 
.paralDiv {
min-height: 700px;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position:center;
/* opacity:0.7; */
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}

/* Navigation bar */
nav{
     background-color:#e88d17;
     padding-left:0px;
     
}

h1{
     color:#ff3300;
     font-family:'Courgette', cursive;
     text-shadow:3px 3px black;
     font-size:3rem;
     
}

.tab-content{
     border:1px solid #DDD;
     border-top:none;
     padding:10px;
     max-height:500px;
    
}

h4{
     text-align:center;
}

.img-menu{
     height:100%;
     max-height:450px; 
     width:100%;
}
